/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);


div {font-family:'hanna','배달의민족 주아', sans-serif;}
ul {font-family: 'hanna;','배달의민족 주아', sans-serif;}
li {font-family: 'hanna','배달의민족 주아', sans-serif;}

nav .brand-logo {
  color: #444;
}

.nav-tab {
  height:6vh !important;
}


.tabs {
  height: 100%;
}

.tabs > .tab {
  height: 100%;
}

.tab > a {
  display: flex !important;
  justify-content: center;
  align-items: center;
   font-size: 4px;
}



.jua {font-family:'BM JUA','배달의민족 주아',sans-serif;}

.hana{font-family:'BM HANNA','배달의민족 한나', sans-serif; }


p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.index-banner-cover {
  background-image: url(/cocktail.jpg);
  background-size: cover;
  background-position: center center;
}

.cs-banner-cover {
  background-image: url(/img/cs.jpg);
  background-position: center center;
  min-height: 90vh;
  max-width: 100%
}




.index-banner {
  min-height: 70vh;
}

.sogangcolor {
  color:#b71c1c; 
  
}


.bar-find {
  padding: 15px;
}

.mp1-banner-cover {
  background-image: url(/ilycover.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center center;
  max-width: 100%;
  min-height: 18vh;
  
}

.brand-logo-img {
  background-image: url(/ilysogang.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center center;
  width:20vh;
  height:11vh;
  
}



.snsbtn{
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  border-bottom: 1px solid rgba(160,160,160,0.2);
  margin-bottom: 0;
  padding: 5px 10px;
}

.kakaobtn {
  background-image: url(/kakaobtn.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto ;
  background-position: center center;
  width:100vh;
  max-width: 90%;
  height:10vh;
  max-height:100%;
  
}
.kakaobtn1 {
  background-image: url(/kakaobtn1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto ;
  background-position: center center;
  width:100vh;
  max-width: 90%;
  height:10vh;
  max-height:100%;
  
}

.naverbtn {
  background-image: url(/naverbtn.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto ;
  background-position: center center;
  width:100vh;
  max-width: 90%;
  height:10vh;
  max-height:100%;
  
}

.naverbtn1 {
  background-image: url(/naverbtn1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto ;
  background-position: center center;
  width:100vh;
  max-width: 90%;
  height:10vh;
  max-height:100%;
  
}

.facebookbtn {
  background-image: url(/facebookbtn.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto ;
  background-position: center center;
  width:100vh;
  max-width: 90%;
  height:10vh;
  max-height:100%;
  
}