  <ul id="tabs-swipe-demo" class="tabs row">
      <li class="tab col s6"><a href="#test-swipe-1">칵스피드</a></li>
      <li class="tab col s6"><a class="active" href="#test-swipe-2">지도</a></li>
  </ul>
  

  <div class="row main-content">
    <div id="test-swipe-1" class="col s12">
      <div class="row scrollbar" id="style-1">
          <div class="force-overflow">
              <%5.times do%>           
              <div class="col s12">
                <div class="card barCard">
                  
                </div>
              </div>
              <%end%>
          </div>
      </div>
    </div>
  </div>

  <div class="row map-content"> 
    <div id="test-swipe-2" class="col s12">
      <div id="map"></div>
    </div>
  </div>

  
  
