<!--와일리광고바-->
<a href="https://www.facebook.com/theyily/">
     <div class="row mp1-banner-cover " style="margin: 0">
     </div>
</a>

  <div class="row main-content">
    <div id="test-swipe-1" class="col s12" style="padding: 0">
      <div class="row scrollbar" id="style-1">
          <div class="force-overflow">
              <%Bar.all.each do |bar|%>           
              <div class="col s12" style="padding: 0">
                <div class="card barCard" style="margin: 0">
                  <%=image_tag(bar.picture, class: 'full_size')%>
                </div>
              </div>
              <%end%>
          </div>
      </div>
    </div>
  </div>
