<div class="row main-content">
  <div id="test-swipe-1" class="col s12">
    <div class="row scrollbar" id="style-1">
        <div class="force-overflow">
            <%5.times do%>           
            <div class="col s12">
              <div class="card barCard">
                <a href="/bars/thebar">주점탭</a>
              </div>
            </div>
            <%end%>
        </div>
    </div>
  </div>
</div>
