
<div class="row">
    <div class="col s12 ">
        <div class="card">
            <div class="card-image">
              <%=image_tag 'festival_schedule.jpeg'%>
            </div>
         
          
            <div class="card-content " align ="center">
                 
      <!--페이스북버튼-->
                      <a href="http://www.facebook.com/sharer/sharer.php?u=https://ily-new-amoamor1.c9users.io/bars/1">
                        <div class="facebookbtn" data-href="https://ily-new-amoamor1.c9users.io/bars/" data-layout="button" data-size="large" data-mobile-iframe="true">
                        </div>
                      </a>
                       
                     
            </div>
        </div>
    </div>
</div>


