<div class="row main-content">
  <div id="test-swipe-1" class="col s12" style="padding: 0">
    <div class="row scrollbar" id="style-1">
        <div class="force-overflow">
            <%5.times do%>           
            <div class="col s12" style="padding: 0">
              <div class="card barCard" style="margin: 0">
                <a href="/foods/thefood">푸드트럭</a>
              </div>
            </div>
            <%end%>
        </div>
    </div>
  </div>
</div>
