  <div class="row main-content">
    <div id="test-swipe-1" class="col s12" style="padding: 0">
      <div class="row scrollbar" id="style-1">
          <div class="force-overflow">
              <%Snack.all.each do |snack|%>           
              <div class="col s12" style="padding: 0">
                <div class="card barCard" style="margin: 0">
                  
                 
                   <%=link_to snack_path(snack.id), class: 'overlay' do %>
                    <%= image_tag(snack.imageurl, class: 'full_size') %>
                    <p class="overlay-p"><%=snack.title + " / " + snack.description.gsub("\"","")%></p>
                   
                  <%end%>
                </div>
              </div>
              <%end%>
          </div>
      </div>
    </div>
  </div>
