<!DOCTYPE html>
<html>
  <head>
    <title>IlyNew</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>
 
  <!--카카오톡-->
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  
  <!--네이버맵-->
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=wr1cqUsM1fEYVKwLwsFm"></script>
 
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    
  </head>

  <body>
   <!--네브바-->
	  <nav class="nav-extended ">
	
	    <div class="nav-content center">
	      <ul class="tabs tabs-transparent  red lighten-3 ">
	        <li class="tab col l3 s3"><a class="white-text" href="#test1">일일주점</a></li>
	        <li class="tab col l3 s3"><a class="white-text" href="#test2">푸드트럭</a></li>
	        <li class="tab col l3 s3"><a class="white-text" href="#test3">마당사업</a></li>
	        <li class="tab col l3 s3"><a class="white-text" href="#test4">축제일정</a></li>
	      </ul>
	    </div>
      
	  </nav>
    <%= yield %>
     <!--풋터  -->
     <!-- <footer class="page-footer red lighten-3">
          
          <div class="container ">
            <div class="row ">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">김재훈(서강대학교) / 이찬하(서강대학교)</p>
              </div>
            </div>
          </div>
          
          <div class="footer-copyright">
            <div class="container">
            멋쟁이사자처럼
            </div>
          </div>
          
    </footer> -->
    <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
  <script src="/myjs/app.js"></script>
  </body>
</html>
